<!-- <button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="changeRandomText()"
>
  Add Server
</button>
<br />
<br />
<p>{{ randomText }}</p>

<input type="text" class="form-control" (input)="onUpdateServerName($event)" />

<input type="text" class="form-control" [(ngModel)]="randomText" /> -->

<!-- <div class="col-md-6 d-flex">
  <input type="text" class="form-control" [(ngModel)]="username" />
  <button class="btn btn-success" [disabled]="!username" (click)="submitFunc()">
    Save
  </button>
</div>
<p
  [ngClass]="{ online: serverCreated == true }"
  [ngStyle]="{ backgroundColor: getColor() }"
  *ngIf="serverCreated"
>
  {{ pText }}
</p> -->

<button class="btn btn-primary mt-3" type="submit" (click)="toggleParagraph()">
  Display Details
</button>
<p *ngIf="hide == ''">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut neque
  necessitatibus aliquid numquam similique odit voluptates consectetur deleniti!
  Quae earum doloremque totam quaerat beatae! Velit amet dolore magni error
  suscipit?
</p>

<p
  *ngFor="let logItem of logArray; let i = index"
  [ngClass]="{ online: i >= 5 }"
>
  {{ logItem }}
</p>
